name: CI-CD Pipeline

on:
  push:
    branches:
      - main   # Trigger only when code is merged into main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Upload JAR to S3
        run: |
          aws s3 cp target/hellomvc-0.0.1-SNAPSHOT.jar s3://my-app-bucket-sudhin-project-2025/

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-south-1

      - name: Trigger CodeDeploy Deployment
        run: |
          aws deploy create-deployment \
            --application-name MyCodeDeployApp \
            --deployment-group-name MyDeploymentGroup \
            --s3-location bucket=my-app-bucket-sudhin-project-2025,bundleType=zip,key=app.zip

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-south-1
